dev tap
client
nobind
remote  185.38.204.2
proto udp
port 1717
dev tap
comp-lzo
tls-client
verb 3
persist-key
persist-tun
ca {{ ca }}
cert {{ cert }}
key {{ key }}
link-mtu 1400
fragment 0
mssfix 0